[submodule "themes/blank"]
	path = themes/blank
	url = https://github.com/vimux/blank
[submodule "my_theme_test/themes/blank"]
	path = my_theme_test/themes/blank
	url = https://github.com/vimux/blank
[submodule "john_doe_coder_theme/themes/hugo-coder"]
	path = john_doe_coder_theme/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
